<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="container">
        <a href="#" routerLink="/" class="logo">Virus.com</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/login">Login</a>
                </li>
                <li>
                    <a href="#" routerLink="/signup">Signup</a>
                </li>
                <li>
                    <a href="#" routerLink="/cart-page">Cart</a>
                </li>
                <li>
                    <button mat-raised-button style="background-color:#f8a01c; color:white" (click)="openProfile(this.userService.currentUser.id)">
                        <i class="material-icons">account_circle</i>
                        <span class="email-text">{{ this.userService.currentUser.email }}</span> 
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>
