<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!products || products.length <= 0" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let product of products">
        <a routerLink="/product/{{product.id}}">
            <img src="{{product.imageUrl}}" alt="">
            <div class="content">
                <div class="name">
                    {{product.name}}
                </div>
                <span class="favorite {{product.favorite?'':'not'}}">
                    ❤
                </span>
                <div class="stars">
                    <dhm-star-rating [value]="product.stars"
                            [starCount]="5"
                            selectedColor="red"
                            hoverColor="#f26969"
                            size="18px"
                            [readOnly]="false">
                    </dhm-star-rating>
                </div>
                <div class="price">
                    <span>
                        {{product.price|currency}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>